#cesiumContainer {
    display:block;
    position:absolute;
    top:0;
    left:0;
    border:none;
    width:100%;
    height:100%
}

body {
    margin: 0;
    padding: 0;
}

#optionBox {
    position: absolute;
    top: 0;
    background-color: black;
    display: flex;
    align-content: center;
    width: 100%;
    justify-content: center;
}

h2 {
    padding: 0 1em;
    color: white;
}